.stat-card{
    padding:20px;
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-3px);
}

.chart-container{
    position:relative;
    height:250px;
}

.card h6{
    font-weight:600;
}


/* ==========================
   PIE CHART
========================== */
.pie-wrapper{
    height:260px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#pieChart{
    max-width:200px;
    max-height:200px;
}